@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776E65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

body {
  margin: 30px 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }
.scores-container {
  float: right;
  text-align: right; }

.first-player-container, .second-player-container {
  width: 60px;
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center; }
  .first-player-container:after, .second-player-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .first-player-container .score-addition, .second-player-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.first-player-container:after {
  content: "Player 1 (X)"; }

.second-player-container:after {
  content: "Player 2 (O)"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776E65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 600px;
  margin: 0 auto; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.game-container {
  margin-top: 10px;
  position: relative;
  padding: 4px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: 600px;
  height: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 40px;
      line-height: 60px;
      margin-top: 80px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(133, 180, 210, 0.5);
      color: #f9f6f2;
      font-size: medium; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 4px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 55.6px;
  height: 55.6px;
  margin-right: 4px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35); }
  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile, .tile .tile-inner {
  width: 56px;
  height: 56px;
  line-height: 56px; }
.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 59px);
  -moz-transform: translate(0px, 59px);
  transform: translate(0px, 59px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 119px);
  -moz-transform: translate(0px, 119px);
  transform: translate(0px, 119px); }
.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 178px);
  -moz-transform: translate(0px, 178px);
  transform: translate(0px, 178px); }
.tile.tile-position-1-5 {
  -webkit-transform: translate(0px, 238px);
  -moz-transform: translate(0px, 238px);
  transform: translate(0px, 238px); }
.tile.tile-position-1-6 {
  -webkit-transform: translate(0px, 298px);
  -moz-transform: translate(0px, 298px);
  transform: translate(0px, 298px); }
.tile.tile-position-1-7 {
  -webkit-transform: translate(0px, 357px);
  -moz-transform: translate(0px, 357px);
  transform: translate(0px, 357px); }
.tile.tile-position-1-8 {
  -webkit-transform: translate(0px, 417px);
  -moz-transform: translate(0px, 417px);
  transform: translate(0px, 417px); }
.tile.tile-position-1-9 {
  -webkit-transform: translate(0px, 476px);
  -moz-transform: translate(0px, 476px);
  transform: translate(0px, 476px); }
.tile.tile-position-1-10 {
  -webkit-transform: translate(0px, 536px);
  -moz-transform: translate(0px, 536px);
  transform: translate(0px, 536px); }
.tile.tile-position-2-1 {
  -webkit-transform: translate(59px, 0px);
  -moz-transform: translate(59px, 0px);
  transform: translate(59px, 0px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(59px, 59px);
  -moz-transform: translate(59px, 59px);
  transform: translate(59px, 59px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(59px, 119px);
  -moz-transform: translate(59px, 119px);
  transform: translate(59px, 119px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(59px, 178px);
  -moz-transform: translate(59px, 178px);
  transform: translate(59px, 178px); }
.tile.tile-position-2-5 {
  -webkit-transform: translate(59px, 238px);
  -moz-transform: translate(59px, 238px);
  transform: translate(59px, 238px); }
.tile.tile-position-2-6 {
  -webkit-transform: translate(59px, 298px);
  -moz-transform: translate(59px, 298px);
  transform: translate(59px, 298px); }
.tile.tile-position-2-7 {
  -webkit-transform: translate(59px, 357px);
  -moz-transform: translate(59px, 357px);
  transform: translate(59px, 357px); }
.tile.tile-position-2-8 {
  -webkit-transform: translate(59px, 417px);
  -moz-transform: translate(59px, 417px);
  transform: translate(59px, 417px); }
.tile.tile-position-2-9 {
  -webkit-transform: translate(59px, 476px);
  -moz-transform: translate(59px, 476px);
  transform: translate(59px, 476px); }
.tile.tile-position-2-10 {
  -webkit-transform: translate(59px, 536px);
  -moz-transform: translate(59px, 536px);
  transform: translate(59px, 536px); }
.tile.tile-position-3-1 {
  -webkit-transform: translate(119px, 0px);
  -moz-transform: translate(119px, 0px);
  transform: translate(119px, 0px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(119px, 59px);
  -moz-transform: translate(119px, 59px);
  transform: translate(119px, 59px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(119px, 119px);
  -moz-transform: translate(119px, 119px);
  transform: translate(119px, 119px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(119px, 178px);
  -moz-transform: translate(119px, 178px);
  transform: translate(119px, 178px); }
.tile.tile-position-3-5 {
  -webkit-transform: translate(119px, 238px);
  -moz-transform: translate(119px, 238px);
  transform: translate(119px, 238px); }
.tile.tile-position-3-6 {
  -webkit-transform: translate(119px, 298px);
  -moz-transform: translate(119px, 298px);
  transform: translate(119px, 298px); }
.tile.tile-position-3-7 {
  -webkit-transform: translate(119px, 357px);
  -moz-transform: translate(119px, 357px);
  transform: translate(119px, 357px); }
.tile.tile-position-3-8 {
  -webkit-transform: translate(119px, 417px);
  -moz-transform: translate(119px, 417px);
  transform: translate(119px, 417px); }
.tile.tile-position-3-9 {
  -webkit-transform: translate(119px, 476px);
  -moz-transform: translate(119px, 476px);
  transform: translate(119px, 476px); }
.tile.tile-position-3-10 {
  -webkit-transform: translate(119px, 536px);
  -moz-transform: translate(119px, 536px);
  transform: translate(119px, 536px); }
.tile.tile-position-4-1 {
  -webkit-transform: translate(178px, 0px);
  -moz-transform: translate(178px, 0px);
  transform: translate(178px, 0px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(178px, 59px);
  -moz-transform: translate(178px, 59px);
  transform: translate(178px, 59px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(178px, 119px);
  -moz-transform: translate(178px, 119px);
  transform: translate(178px, 119px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(178px, 178px);
  -moz-transform: translate(178px, 178px);
  transform: translate(178px, 178px); }
.tile.tile-position-4-5 {
  -webkit-transform: translate(178px, 238px);
  -moz-transform: translate(178px, 238px);
  transform: translate(178px, 238px); }
.tile.tile-position-4-6 {
  -webkit-transform: translate(178px, 298px);
  -moz-transform: translate(178px, 298px);
  transform: translate(178px, 298px); }
.tile.tile-position-4-7 {
  -webkit-transform: translate(178px, 357px);
  -moz-transform: translate(178px, 357px);
  transform: translate(178px, 357px); }
.tile.tile-position-4-8 {
  -webkit-transform: translate(178px, 417px);
  -moz-transform: translate(178px, 417px);
  transform: translate(178px, 417px); }
.tile.tile-position-4-9 {
  -webkit-transform: translate(178px, 476px);
  -moz-transform: translate(178px, 476px);
  transform: translate(178px, 476px); }
.tile.tile-position-4-10 {
  -webkit-transform: translate(178px, 536px);
  -moz-transform: translate(178px, 536px);
  transform: translate(178px, 536px); }
.tile.tile-position-5-1 {
  -webkit-transform: translate(238px, 0px);
  -moz-transform: translate(238px, 0px);
  transform: translate(238px, 0px); }
.tile.tile-position-5-2 {
  -webkit-transform: translate(238px, 59px);
  -moz-transform: translate(238px, 59px);
  transform: translate(238px, 59px); }
.tile.tile-position-5-3 {
  -webkit-transform: translate(238px, 119px);
  -moz-transform: translate(238px, 119px);
  transform: translate(238px, 119px); }
.tile.tile-position-5-4 {
  -webkit-transform: translate(238px, 178px);
  -moz-transform: translate(238px, 178px);
  transform: translate(238px, 178px); }
.tile.tile-position-5-5 {
  -webkit-transform: translate(238px, 238px);
  -moz-transform: translate(238px, 238px);
  transform: translate(238px, 238px); }
.tile.tile-position-5-6 {
  -webkit-transform: translate(238px, 298px);
  -moz-transform: translate(238px, 298px);
  transform: translate(238px, 298px); }
.tile.tile-position-5-7 {
  -webkit-transform: translate(238px, 357px);
  -moz-transform: translate(238px, 357px);
  transform: translate(238px, 357px); }
.tile.tile-position-5-8 {
  -webkit-transform: translate(238px, 417px);
  -moz-transform: translate(238px, 417px);
  transform: translate(238px, 417px); }
.tile.tile-position-5-9 {
  -webkit-transform: translate(238px, 476px);
  -moz-transform: translate(238px, 476px);
  transform: translate(238px, 476px); }
.tile.tile-position-5-10 {
  -webkit-transform: translate(238px, 536px);
  -moz-transform: translate(238px, 536px);
  transform: translate(238px, 536px); }
.tile.tile-position-6-1 {
  -webkit-transform: translate(298px, 0px);
  -moz-transform: translate(298px, 0px);
  transform: translate(298px, 0px); }
.tile.tile-position-6-2 {
  -webkit-transform: translate(298px, 59px);
  -moz-transform: translate(298px, 59px);
  transform: translate(298px, 59px); }
.tile.tile-position-6-3 {
  -webkit-transform: translate(298px, 119px);
  -moz-transform: translate(298px, 119px);
  transform: translate(298px, 119px); }
.tile.tile-position-6-4 {
  -webkit-transform: translate(298px, 178px);
  -moz-transform: translate(298px, 178px);
  transform: translate(298px, 178px); }
.tile.tile-position-6-5 {
  -webkit-transform: translate(298px, 238px);
  -moz-transform: translate(298px, 238px);
  transform: translate(298px, 238px); }
.tile.tile-position-6-6 {
  -webkit-transform: translate(298px, 298px);
  -moz-transform: translate(298px, 298px);
  transform: translate(298px, 298px); }
.tile.tile-position-6-7 {
  -webkit-transform: translate(298px, 357px);
  -moz-transform: translate(298px, 357px);
  transform: translate(298px, 357px); }
.tile.tile-position-6-8 {
  -webkit-transform: translate(298px, 417px);
  -moz-transform: translate(298px, 417px);
  transform: translate(298px, 417px); }
.tile.tile-position-6-9 {
  -webkit-transform: translate(298px, 476px);
  -moz-transform: translate(298px, 476px);
  transform: translate(298px, 476px); }
.tile.tile-position-6-10 {
  -webkit-transform: translate(298px, 536px);
  -moz-transform: translate(298px, 536px);
  transform: translate(298px, 536px); }
.tile.tile-position-7-1 {
  -webkit-transform: translate(357px, 0px);
  -moz-transform: translate(357px, 0px);
  transform: translate(357px, 0px); }
.tile.tile-position-7-2 {
  -webkit-transform: translate(357px, 59px);
  -moz-transform: translate(357px, 59px);
  transform: translate(357px, 59px); }
.tile.tile-position-7-3 {
  -webkit-transform: translate(357px, 119px);
  -moz-transform: translate(357px, 119px);
  transform: translate(357px, 119px); }
.tile.tile-position-7-4 {
  -webkit-transform: translate(357px, 178px);
  -moz-transform: translate(357px, 178px);
  transform: translate(357px, 178px); }
.tile.tile-position-7-5 {
  -webkit-transform: translate(357px, 238px);
  -moz-transform: translate(357px, 238px);
  transform: translate(357px, 238px); }
.tile.tile-position-7-6 {
  -webkit-transform: translate(357px, 298px);
  -moz-transform: translate(357px, 298px);
  transform: translate(357px, 298px); }
.tile.tile-position-7-7 {
  -webkit-transform: translate(357px, 357px);
  -moz-transform: translate(357px, 357px);
  transform: translate(357px, 357px); }
.tile.tile-position-7-8 {
  -webkit-transform: translate(357px, 417px);
  -moz-transform: translate(357px, 417px);
  transform: translate(357px, 417px); }
.tile.tile-position-7-9 {
  -webkit-transform: translate(357px, 476px);
  -moz-transform: translate(357px, 476px);
  transform: translate(357px, 476px); }
.tile.tile-position-7-10 {
  -webkit-transform: translate(357px, 536px);
  -moz-transform: translate(357px, 536px);
  transform: translate(357px, 536px); }
.tile.tile-position-8-1 {
  -webkit-transform: translate(417px, 0px);
  -moz-transform: translate(417px, 0px);
  transform: translate(417px, 0px); }
.tile.tile-position-8-2 {
  -webkit-transform: translate(417px, 59px);
  -moz-transform: translate(417px, 59px);
  transform: translate(417px, 59px); }
.tile.tile-position-8-3 {
  -webkit-transform: translate(417px, 119px);
  -moz-transform: translate(417px, 119px);
  transform: translate(417px, 119px); }
.tile.tile-position-8-4 {
  -webkit-transform: translate(417px, 178px);
  -moz-transform: translate(417px, 178px);
  transform: translate(417px, 178px); }
.tile.tile-position-8-5 {
  -webkit-transform: translate(417px, 238px);
  -moz-transform: translate(417px, 238px);
  transform: translate(417px, 238px); }
.tile.tile-position-8-6 {
  -webkit-transform: translate(417px, 298px);
  -moz-transform: translate(417px, 298px);
  transform: translate(417px, 298px); }
.tile.tile-position-8-7 {
  -webkit-transform: translate(417px, 357px);
  -moz-transform: translate(417px, 357px);
  transform: translate(417px, 357px); }
.tile.tile-position-8-8 {
  -webkit-transform: translate(417px, 417px);
  -moz-transform: translate(417px, 417px);
  transform: translate(417px, 417px); }
.tile.tile-position-8-9 {
  -webkit-transform: translate(417px, 476px);
  -moz-transform: translate(417px, 476px);
  transform: translate(417px, 476px); }
.tile.tile-position-8-10 {
  -webkit-transform: translate(417px, 536px);
  -moz-transform: translate(417px, 536px);
  transform: translate(417px, 536px); }
.tile.tile-position-9-1 {
  -webkit-transform: translate(476px, 0px);
  -moz-transform: translate(476px, 0px);
  transform: translate(476px, 0px); }
.tile.tile-position-9-2 {
  -webkit-transform: translate(476px, 59px);
  -moz-transform: translate(476px, 59px);
  transform: translate(476px, 59px); }
.tile.tile-position-9-3 {
  -webkit-transform: translate(476px, 119px);
  -moz-transform: translate(476px, 119px);
  transform: translate(476px, 119px); }
.tile.tile-position-9-4 {
  -webkit-transform: translate(476px, 178px);
  -moz-transform: translate(476px, 178px);
  transform: translate(476px, 178px); }
.tile.tile-position-9-5 {
  -webkit-transform: translate(476px, 238px);
  -moz-transform: translate(476px, 238px);
  transform: translate(476px, 238px); }
.tile.tile-position-9-6 {
  -webkit-transform: translate(476px, 298px);
  -moz-transform: translate(476px, 298px);
  transform: translate(476px, 298px); }
.tile.tile-position-9-7 {
  -webkit-transform: translate(476px, 357px);
  -moz-transform: translate(476px, 357px);
  transform: translate(476px, 357px); }
.tile.tile-position-9-8 {
  -webkit-transform: translate(476px, 417px);
  -moz-transform: translate(476px, 417px);
  transform: translate(476px, 417px); }
.tile.tile-position-9-9 {
  -webkit-transform: translate(476px, 476px);
  -moz-transform: translate(476px, 476px);
  transform: translate(476px, 476px); }
.tile.tile-position-9-10 {
  -webkit-transform: translate(476px, 536px);
  -moz-transform: translate(476px, 536px);
  transform: translate(476px, 536px); }
.tile.tile-position-10-1 {
  -webkit-transform: translate(536px, 0px);
  -moz-transform: translate(536px, 0px);
  transform: translate(536px, 0px); }
.tile.tile-position-10-2 {
  -webkit-transform: translate(536px, 59px);
  -moz-transform: translate(536px, 59px);
  transform: translate(536px, 59px); }
.tile.tile-position-10-3 {
  -webkit-transform: translate(536px, 119px);
  -moz-transform: translate(536px, 119px);
  transform: translate(536px, 119px); }
.tile.tile-position-10-4 {
  -webkit-transform: translate(536px, 178px);
  -moz-transform: translate(536px, 178px);
  transform: translate(536px, 178px); }
.tile.tile-position-10-5 {
  -webkit-transform: translate(536px, 238px);
  -moz-transform: translate(536px, 238px);
  transform: translate(536px, 238px); }
.tile.tile-position-10-6 {
  -webkit-transform: translate(536px, 298px);
  -moz-transform: translate(536px, 298px);
  transform: translate(536px, 298px); }
.tile.tile-position-10-7 {
  -webkit-transform: translate(536px, 357px);
  -moz-transform: translate(536px, 357px);
  transform: translate(536px, 357px); }
.tile.tile-position-10-8 {
  -webkit-transform: translate(536px, 417px);
  -moz-transform: translate(536px, 417px);
  transform: translate(536px, 417px); }
.tile.tile-position-10-9 {
  -webkit-transform: translate(536px, 476px);
  -moz-transform: translate(536px, 476px);
  transform: translate(536px, 476px); }
.tile.tile-position-10-10 {
  -webkit-transform: translate(536px, 536px);
  -moz-transform: translate(536px, 536px);
  transform: translate(536px, 536px); }

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 3px;
    /*background: $tile-color;*/
    background: rgba(238, 228, 218, 0.35);
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 38pt; }
  .tile.tile-X .tile-inner {
    color: #ff3333;
    /*background: #debda7;*/ }
    @media screen and (max-width: 620px) {
      .tile.tile-X .tile-inner {
        font-size: 25px; } }
  .tile.tile-O .tile-inner {
    color: #1b4561;
    /*background: green;*/ }
    @media screen and (max-width: 620px) {
      .tile.tile-O .tile-inner {
        font-size: 25px; } }
  .tile.tile-X-Win .tile-inner {
    color: #ff3333;
    box-shadow: 0 0 30px 5px #f3d774, inset 0 0 0 1px white; }
    @media screen and (max-width: 620px) {
      .tile.tile-X-Win .tile-inner {
        font-size: 25px; } }
  .tile.tile-O-Win .tile-inner {
    color: #1b4561;
    box-shadow: 0 0 30px 5px #f3d774, inset 0 0 0 1px white; }
    @media screen and (max-width: 620px) {
      .tile.tile-O-Win .tile-inner {
        font-size: 25px; } }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.above-game:after {
  content: "";
  display: block;
  clear: both; }

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0; }

.restart-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right; }

.undo-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right;
  margin-right: 5px;
  width: 50px; }

.game-explanation {
  margin-top: 50px; }

@media screen and (max-width: 620px) {
  html, body {
    font-size: 15px; }

  body {
    margin: 20px 0;
    padding: 0 20px; }

  h1.title {
    font-size: 27px;
    margin-top: 15px; }

  .container {
    width: 400px;
    margin: 0 auto; }

  .game-container {
    width: 200px; }

  .first-player-container, .second-player-container {
    margin-top: 0;
    padding: 15px 10px;
    min-width: 60px;
    width: 60px;
    font-size: medium; }

  .first-player-container:after {
    content: "Plr 1 (X)"; }

  .second-player-container:after {
    content: "Plr 2 (O)"; }

  .heading {
    margin-bottom: 10px; }

  .game-intro {
    width: 50%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65; }

  .restart-button {
    width: 20%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-top: 2px;
    /*margin-right: 0;*/ }

  .undo-button {
    width: 20%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-top: 2px;
    /*margin-right: 0;*/ }

  .game-container {
    margin-top: 10px;
    position: relative;
    padding: 4px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #bbada0;
    border-radius: 6px;
    width: 600px;
    height: 600px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .game-container .game-message {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(238, 228, 218, 0.5);
      z-index: 100;
      text-align: center;
      -webkit-animation: fade-in 800ms ease 1200ms;
      -moz-animation: fade-in 800ms ease 1200ms;
      animation: fade-in 800ms ease 1200ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; }
      .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 40px;
        line-height: 60px;
        margin-top: 80px; }
      .game-container .game-message .lower {
        display: block;
        margin-top: 59px; }
      .game-container .game-message a {
        display: inline-block;
        background: #8f7a66;
        border-radius: 3px;
        padding: 0 20px;
        text-decoration: none;
        color: #f9f6f2;
        height: 40px;
        line-height: 42px;
        margin-left: 9px; }
        .game-container .game-message a.keep-playing-button {
          display: none; }
      .game-container .game-message.game-won {
        background: rgba(133, 180, 210, 0.5);
        color: #f9f6f2;
        font-size: medium; }
        .game-container .game-message.game-won a.keep-playing-button {
          display: inline-block; }
      .game-container .game-message.game-won, .game-container .game-message.game-over {
        display: block; }

  .grid-container {
    position: absolute;
    z-index: 1; }

  .grid-row {
    margin-bottom: 4px; }
    .grid-row:last-child {
      margin-bottom: 0; }
    .grid-row:after {
      content: "";
      display: block;
      clear: both; }

  .grid-cell {
    width: 55.6px;
    height: 55.6px;
    margin-right: 4px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35); }
    .grid-cell:last-child {
      margin-right: 0; }

  .tile-container {
    position: absolute;
    z-index: 2; }

  .tile, .tile .tile-inner {
    width: 56px;
    height: 56px;
    line-height: 56px; }
  .tile.tile-position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  .tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 59px);
    -moz-transform: translate(0px, 59px);
    transform: translate(0px, 59px); }
  .tile.tile-position-1-3 {
    -webkit-transform: translate(0px, 119px);
    -moz-transform: translate(0px, 119px);
    transform: translate(0px, 119px); }
  .tile.tile-position-1-4 {
    -webkit-transform: translate(0px, 178px);
    -moz-transform: translate(0px, 178px);
    transform: translate(0px, 178px); }
  .tile.tile-position-1-5 {
    -webkit-transform: translate(0px, 238px);
    -moz-transform: translate(0px, 238px);
    transform: translate(0px, 238px); }
  .tile.tile-position-1-6 {
    -webkit-transform: translate(0px, 298px);
    -moz-transform: translate(0px, 298px);
    transform: translate(0px, 298px); }
  .tile.tile-position-1-7 {
    -webkit-transform: translate(0px, 357px);
    -moz-transform: translate(0px, 357px);
    transform: translate(0px, 357px); }
  .tile.tile-position-1-8 {
    -webkit-transform: translate(0px, 417px);
    -moz-transform: translate(0px, 417px);
    transform: translate(0px, 417px); }
  .tile.tile-position-1-9 {
    -webkit-transform: translate(0px, 476px);
    -moz-transform: translate(0px, 476px);
    transform: translate(0px, 476px); }
  .tile.tile-position-1-10 {
    -webkit-transform: translate(0px, 536px);
    -moz-transform: translate(0px, 536px);
    transform: translate(0px, 536px); }
  .tile.tile-position-2-1 {
    -webkit-transform: translate(59px, 0px);
    -moz-transform: translate(59px, 0px);
    transform: translate(59px, 0px); }
  .tile.tile-position-2-2 {
    -webkit-transform: translate(59px, 59px);
    -moz-transform: translate(59px, 59px);
    transform: translate(59px, 59px); }
  .tile.tile-position-2-3 {
    -webkit-transform: translate(59px, 119px);
    -moz-transform: translate(59px, 119px);
    transform: translate(59px, 119px); }
  .tile.tile-position-2-4 {
    -webkit-transform: translate(59px, 178px);
    -moz-transform: translate(59px, 178px);
    transform: translate(59px, 178px); }
  .tile.tile-position-2-5 {
    -webkit-transform: translate(59px, 238px);
    -moz-transform: translate(59px, 238px);
    transform: translate(59px, 238px); }
  .tile.tile-position-2-6 {
    -webkit-transform: translate(59px, 298px);
    -moz-transform: translate(59px, 298px);
    transform: translate(59px, 298px); }
  .tile.tile-position-2-7 {
    -webkit-transform: translate(59px, 357px);
    -moz-transform: translate(59px, 357px);
    transform: translate(59px, 357px); }
  .tile.tile-position-2-8 {
    -webkit-transform: translate(59px, 417px);
    -moz-transform: translate(59px, 417px);
    transform: translate(59px, 417px); }
  .tile.tile-position-2-9 {
    -webkit-transform: translate(59px, 476px);
    -moz-transform: translate(59px, 476px);
    transform: translate(59px, 476px); }
  .tile.tile-position-2-10 {
    -webkit-transform: translate(59px, 536px);
    -moz-transform: translate(59px, 536px);
    transform: translate(59px, 536px); }
  .tile.tile-position-3-1 {
    -webkit-transform: translate(119px, 0px);
    -moz-transform: translate(119px, 0px);
    transform: translate(119px, 0px); }
  .tile.tile-position-3-2 {
    -webkit-transform: translate(119px, 59px);
    -moz-transform: translate(119px, 59px);
    transform: translate(119px, 59px); }
  .tile.tile-position-3-3 {
    -webkit-transform: translate(119px, 119px);
    -moz-transform: translate(119px, 119px);
    transform: translate(119px, 119px); }
  .tile.tile-position-3-4 {
    -webkit-transform: translate(119px, 178px);
    -moz-transform: translate(119px, 178px);
    transform: translate(119px, 178px); }
  .tile.tile-position-3-5 {
    -webkit-transform: translate(119px, 238px);
    -moz-transform: translate(119px, 238px);
    transform: translate(119px, 238px); }
  .tile.tile-position-3-6 {
    -webkit-transform: translate(119px, 298px);
    -moz-transform: translate(119px, 298px);
    transform: translate(119px, 298px); }
  .tile.tile-position-3-7 {
    -webkit-transform: translate(119px, 357px);
    -moz-transform: translate(119px, 357px);
    transform: translate(119px, 357px); }
  .tile.tile-position-3-8 {
    -webkit-transform: translate(119px, 417px);
    -moz-transform: translate(119px, 417px);
    transform: translate(119px, 417px); }
  .tile.tile-position-3-9 {
    -webkit-transform: translate(119px, 476px);
    -moz-transform: translate(119px, 476px);
    transform: translate(119px, 476px); }
  .tile.tile-position-3-10 {
    -webkit-transform: translate(119px, 536px);
    -moz-transform: translate(119px, 536px);
    transform: translate(119px, 536px); }
  .tile.tile-position-4-1 {
    -webkit-transform: translate(178px, 0px);
    -moz-transform: translate(178px, 0px);
    transform: translate(178px, 0px); }
  .tile.tile-position-4-2 {
    -webkit-transform: translate(178px, 59px);
    -moz-transform: translate(178px, 59px);
    transform: translate(178px, 59px); }
  .tile.tile-position-4-3 {
    -webkit-transform: translate(178px, 119px);
    -moz-transform: translate(178px, 119px);
    transform: translate(178px, 119px); }
  .tile.tile-position-4-4 {
    -webkit-transform: translate(178px, 178px);
    -moz-transform: translate(178px, 178px);
    transform: translate(178px, 178px); }
  .tile.tile-position-4-5 {
    -webkit-transform: translate(178px, 238px);
    -moz-transform: translate(178px, 238px);
    transform: translate(178px, 238px); }
  .tile.tile-position-4-6 {
    -webkit-transform: translate(178px, 298px);
    -moz-transform: translate(178px, 298px);
    transform: translate(178px, 298px); }
  .tile.tile-position-4-7 {
    -webkit-transform: translate(178px, 357px);
    -moz-transform: translate(178px, 357px);
    transform: translate(178px, 357px); }
  .tile.tile-position-4-8 {
    -webkit-transform: translate(178px, 417px);
    -moz-transform: translate(178px, 417px);
    transform: translate(178px, 417px); }
  .tile.tile-position-4-9 {
    -webkit-transform: translate(178px, 476px);
    -moz-transform: translate(178px, 476px);
    transform: translate(178px, 476px); }
  .tile.tile-position-4-10 {
    -webkit-transform: translate(178px, 536px);
    -moz-transform: translate(178px, 536px);
    transform: translate(178px, 536px); }
  .tile.tile-position-5-1 {
    -webkit-transform: translate(238px, 0px);
    -moz-transform: translate(238px, 0px);
    transform: translate(238px, 0px); }
  .tile.tile-position-5-2 {
    -webkit-transform: translate(238px, 59px);
    -moz-transform: translate(238px, 59px);
    transform: translate(238px, 59px); }
  .tile.tile-position-5-3 {
    -webkit-transform: translate(238px, 119px);
    -moz-transform: translate(238px, 119px);
    transform: translate(238px, 119px); }
  .tile.tile-position-5-4 {
    -webkit-transform: translate(238px, 178px);
    -moz-transform: translate(238px, 178px);
    transform: translate(238px, 178px); }
  .tile.tile-position-5-5 {
    -webkit-transform: translate(238px, 238px);
    -moz-transform: translate(238px, 238px);
    transform: translate(238px, 238px); }
  .tile.tile-position-5-6 {
    -webkit-transform: translate(238px, 298px);
    -moz-transform: translate(238px, 298px);
    transform: translate(238px, 298px); }
  .tile.tile-position-5-7 {
    -webkit-transform: translate(238px, 357px);
    -moz-transform: translate(238px, 357px);
    transform: translate(238px, 357px); }
  .tile.tile-position-5-8 {
    -webkit-transform: translate(238px, 417px);
    -moz-transform: translate(238px, 417px);
    transform: translate(238px, 417px); }
  .tile.tile-position-5-9 {
    -webkit-transform: translate(238px, 476px);
    -moz-transform: translate(238px, 476px);
    transform: translate(238px, 476px); }
  .tile.tile-position-5-10 {
    -webkit-transform: translate(238px, 536px);
    -moz-transform: translate(238px, 536px);
    transform: translate(238px, 536px); }
  .tile.tile-position-6-1 {
    -webkit-transform: translate(298px, 0px);
    -moz-transform: translate(298px, 0px);
    transform: translate(298px, 0px); }
  .tile.tile-position-6-2 {
    -webkit-transform: translate(298px, 59px);
    -moz-transform: translate(298px, 59px);
    transform: translate(298px, 59px); }
  .tile.tile-position-6-3 {
    -webkit-transform: translate(298px, 119px);
    -moz-transform: translate(298px, 119px);
    transform: translate(298px, 119px); }
  .tile.tile-position-6-4 {
    -webkit-transform: translate(298px, 178px);
    -moz-transform: translate(298px, 178px);
    transform: translate(298px, 178px); }
  .tile.tile-position-6-5 {
    -webkit-transform: translate(298px, 238px);
    -moz-transform: translate(298px, 238px);
    transform: translate(298px, 238px); }
  .tile.tile-position-6-6 {
    -webkit-transform: translate(298px, 298px);
    -moz-transform: translate(298px, 298px);
    transform: translate(298px, 298px); }
  .tile.tile-position-6-7 {
    -webkit-transform: translate(298px, 357px);
    -moz-transform: translate(298px, 357px);
    transform: translate(298px, 357px); }
  .tile.tile-position-6-8 {
    -webkit-transform: translate(298px, 417px);
    -moz-transform: translate(298px, 417px);
    transform: translate(298px, 417px); }
  .tile.tile-position-6-9 {
    -webkit-transform: translate(298px, 476px);
    -moz-transform: translate(298px, 476px);
    transform: translate(298px, 476px); }
  .tile.tile-position-6-10 {
    -webkit-transform: translate(298px, 536px);
    -moz-transform: translate(298px, 536px);
    transform: translate(298px, 536px); }
  .tile.tile-position-7-1 {
    -webkit-transform: translate(357px, 0px);
    -moz-transform: translate(357px, 0px);
    transform: translate(357px, 0px); }
  .tile.tile-position-7-2 {
    -webkit-transform: translate(357px, 59px);
    -moz-transform: translate(357px, 59px);
    transform: translate(357px, 59px); }
  .tile.tile-position-7-3 {
    -webkit-transform: translate(357px, 119px);
    -moz-transform: translate(357px, 119px);
    transform: translate(357px, 119px); }
  .tile.tile-position-7-4 {
    -webkit-transform: translate(357px, 178px);
    -moz-transform: translate(357px, 178px);
    transform: translate(357px, 178px); }
  .tile.tile-position-7-5 {
    -webkit-transform: translate(357px, 238px);
    -moz-transform: translate(357px, 238px);
    transform: translate(357px, 238px); }
  .tile.tile-position-7-6 {
    -webkit-transform: translate(357px, 298px);
    -moz-transform: translate(357px, 298px);
    transform: translate(357px, 298px); }
  .tile.tile-position-7-7 {
    -webkit-transform: translate(357px, 357px);
    -moz-transform: translate(357px, 357px);
    transform: translate(357px, 357px); }
  .tile.tile-position-7-8 {
    -webkit-transform: translate(357px, 417px);
    -moz-transform: translate(357px, 417px);
    transform: translate(357px, 417px); }
  .tile.tile-position-7-9 {
    -webkit-transform: translate(357px, 476px);
    -moz-transform: translate(357px, 476px);
    transform: translate(357px, 476px); }
  .tile.tile-position-7-10 {
    -webkit-transform: translate(357px, 536px);
    -moz-transform: translate(357px, 536px);
    transform: translate(357px, 536px); }
  .tile.tile-position-8-1 {
    -webkit-transform: translate(417px, 0px);
    -moz-transform: translate(417px, 0px);
    transform: translate(417px, 0px); }
  .tile.tile-position-8-2 {
    -webkit-transform: translate(417px, 59px);
    -moz-transform: translate(417px, 59px);
    transform: translate(417px, 59px); }
  .tile.tile-position-8-3 {
    -webkit-transform: translate(417px, 119px);
    -moz-transform: translate(417px, 119px);
    transform: translate(417px, 119px); }
  .tile.tile-position-8-4 {
    -webkit-transform: translate(417px, 178px);
    -moz-transform: translate(417px, 178px);
    transform: translate(417px, 178px); }
  .tile.tile-position-8-5 {
    -webkit-transform: translate(417px, 238px);
    -moz-transform: translate(417px, 238px);
    transform: translate(417px, 238px); }
  .tile.tile-position-8-6 {
    -webkit-transform: translate(417px, 298px);
    -moz-transform: translate(417px, 298px);
    transform: translate(417px, 298px); }
  .tile.tile-position-8-7 {
    -webkit-transform: translate(417px, 357px);
    -moz-transform: translate(417px, 357px);
    transform: translate(417px, 357px); }
  .tile.tile-position-8-8 {
    -webkit-transform: translate(417px, 417px);
    -moz-transform: translate(417px, 417px);
    transform: translate(417px, 417px); }
  .tile.tile-position-8-9 {
    -webkit-transform: translate(417px, 476px);
    -moz-transform: translate(417px, 476px);
    transform: translate(417px, 476px); }
  .tile.tile-position-8-10 {
    -webkit-transform: translate(417px, 536px);
    -moz-transform: translate(417px, 536px);
    transform: translate(417px, 536px); }
  .tile.tile-position-9-1 {
    -webkit-transform: translate(476px, 0px);
    -moz-transform: translate(476px, 0px);
    transform: translate(476px, 0px); }
  .tile.tile-position-9-2 {
    -webkit-transform: translate(476px, 59px);
    -moz-transform: translate(476px, 59px);
    transform: translate(476px, 59px); }
  .tile.tile-position-9-3 {
    -webkit-transform: translate(476px, 119px);
    -moz-transform: translate(476px, 119px);
    transform: translate(476px, 119px); }
  .tile.tile-position-9-4 {
    -webkit-transform: translate(476px, 178px);
    -moz-transform: translate(476px, 178px);
    transform: translate(476px, 178px); }
  .tile.tile-position-9-5 {
    -webkit-transform: translate(476px, 238px);
    -moz-transform: translate(476px, 238px);
    transform: translate(476px, 238px); }
  .tile.tile-position-9-6 {
    -webkit-transform: translate(476px, 298px);
    -moz-transform: translate(476px, 298px);
    transform: translate(476px, 298px); }
  .tile.tile-position-9-7 {
    -webkit-transform: translate(476px, 357px);
    -moz-transform: translate(476px, 357px);
    transform: translate(476px, 357px); }
  .tile.tile-position-9-8 {
    -webkit-transform: translate(476px, 417px);
    -moz-transform: translate(476px, 417px);
    transform: translate(476px, 417px); }
  .tile.tile-position-9-9 {
    -webkit-transform: translate(476px, 476px);
    -moz-transform: translate(476px, 476px);
    transform: translate(476px, 476px); }
  .tile.tile-position-9-10 {
    -webkit-transform: translate(476px, 536px);
    -moz-transform: translate(476px, 536px);
    transform: translate(476px, 536px); }
  .tile.tile-position-10-1 {
    -webkit-transform: translate(536px, 0px);
    -moz-transform: translate(536px, 0px);
    transform: translate(536px, 0px); }
  .tile.tile-position-10-2 {
    -webkit-transform: translate(536px, 59px);
    -moz-transform: translate(536px, 59px);
    transform: translate(536px, 59px); }
  .tile.tile-position-10-3 {
    -webkit-transform: translate(536px, 119px);
    -moz-transform: translate(536px, 119px);
    transform: translate(536px, 119px); }
  .tile.tile-position-10-4 {
    -webkit-transform: translate(536px, 178px);
    -moz-transform: translate(536px, 178px);
    transform: translate(536px, 178px); }
  .tile.tile-position-10-5 {
    -webkit-transform: translate(536px, 238px);
    -moz-transform: translate(536px, 238px);
    transform: translate(536px, 238px); }
  .tile.tile-position-10-6 {
    -webkit-transform: translate(536px, 298px);
    -moz-transform: translate(536px, 298px);
    transform: translate(536px, 298px); }
  .tile.tile-position-10-7 {
    -webkit-transform: translate(536px, 357px);
    -moz-transform: translate(536px, 357px);
    transform: translate(536px, 357px); }
  .tile.tile-position-10-8 {
    -webkit-transform: translate(536px, 417px);
    -moz-transform: translate(536px, 417px);
    transform: translate(536px, 417px); }
  .tile.tile-position-10-9 {
    -webkit-transform: translate(536px, 476px);
    -moz-transform: translate(536px, 476px);
    transform: translate(536px, 476px); }
  .tile.tile-position-10-10 {
    -webkit-transform: translate(536px, 536px);
    -moz-transform: translate(536px, 536px);
    transform: translate(536px, 536px); }

  .tile .tile-inner {
    font-size: 35px; }

  .game-message p {
    font-size: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 90px !important; }
  .game-message .lower {
    margin-top: 30px !important; } }
